*.la
*.o
*.lo
1
1.7
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libzypp-zmd-backend.spec
ltmain.sh
missing
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/dbsource/.deps/
src/dbsource/.libs/
src/dbsource/Makefile
src/dbsource/Makefile.in
src/parse-metadata
src/query-pool
src/resolve-dependencies
src/service-delete
src/transact
src/update-status
src/zmd-list-locks
src/zmd-solver-testcase
src/zypp-sources
stamp-h1


